
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    font-family: 'Kanit', sans-serif;
}

.fs-1-3 {
    font-size: 1.3rem;
}


address, .phone-number{
    font-size: 1.3rem;
}